body{
    background-color: black;
    color: white;
}

#container-root{
    position: relative;
    width: 75%;
    height: 800px;
    margin: 0 auto;
    margin-top: 4%;
    border: solid 1px red;
}

h1{
    font-size: 40px;
}


