


.container-todos-elementos{
    border: solid 1px pink;
    position: relative;
    margin: auto auto;
    width: 800px;
    height: 700px;
}



.btn-novo-jogo{
    position: relative;
    display: inline-block;
    top: 450px;
    left: 30px;
    text-align: center;
    width: 350px;
    background: purple;
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    transition: 0.8s all;

}

.btn-novo-jogo:hover{
    background: rgb(175, 1, 175);
    transform: scale(1.02);
}



.btn-desistir{
    position: relative;
    display: inline-block;
    top: 450px;
    left: 65px;
    text-align: center;
    width: 350px;
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    border: solid 2px purple;
    background: #222222;
    transition: 0.8s all;
}

.btn-desistir:hover{
    border: solid 2px rgb(175, 1, 175);
    transform: scale(1.02);
}
