body {
    background-color: black;
    color: white;
    /*background-image: url('../img/wallpaper3-black.jpg');*/
    background: url("../img/wallpaper3-black.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#container-root {
    position: relative;
    width: 76%;
    height: 800px;
    margin: 0 auto;
    margin-top: 4%;
    /*border: solid 1px red;  */
}

.git {
    position: absolute;
    width: 40px;
    cursor: pointer;
    display: inline-block;
    transition: 1s all;
}

.linke {
    position: absolute;
    margin-left: 60px;
    width: 40px;
    cursor: pointer;
    display: inline-block;
    transition: 1s all;
}

.oracle {
    position: absolute;
    margin-left: 120px;
    width: 40px;
    cursor: pointer;
    display: inline-block;
    transition: 1s all;
}

.alura {
    position: absolute;
    margin-left: 180px;
    width: 43px;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s all;
}



.git:hover{
    transform: scale(1.2);
}

.linke:hover{
    transform: scale(1.2);
}

.oracle:hover{
    transform: scale(1.2);
}

.alura:hover{
    transform: scale(1.2);
}




.mensagem {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

h1 {
    position: relative;
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
    text-align: center;
    top: 10%;

}

.flex-btn-comecar-jogo {
    position: relative;
    top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.btn-comecar-jogo {
    display: flex;
    justify-content: center;

    width: 400px;

    font-size: 28px;
    background: saddlebrown;
    color: white;
    padding: 30px;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    border-radius: 40px;
    transition: 0.8s all;
}

.btn-comecar-jogo:hover {
    background: black;
    transform: scale(1.1);
    border: solid white 3px;

}


.flex-btn-add-palavra {
    position: relative;
    top: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-add-palavra {
    display: flex;
    justify-content: center;

    width: 400px;

    font-size: 28px;
    border: solid 2px saddlebrown;
    color: white;
    padding: 30px;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    border-radius: 40px;
    transition: 0.8s all;

}

.btn-add-palavra:hover {
    transform: scale(1.1);
    background: black;
    border: solid white 3px;
}



/*
font-family: 'Permanent Marker', cursive;

font-family: 'Press Start 2P', cursive;

*/